<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Internetové bankovnictví</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script>
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };
    </script>

</head>
<body>

<header>
    <h1 class="bank-name">Internetové bankovnictví</h1>
    <div class="user-info">
        <p th:text="${user.firstName} + ' ' + ${user.lastName}">Name Surname</p>
        <p th:text="${#authentication.getName()}">email</p>
    </div>
    <div class="logoutSection">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Odhlásit se"/>
        </form>
    </div>
</header>
<div class="message-container" th:if="${show}">
    <div th:if="${success}" class="alert alert-success">
        <p th:text="${message}"></p>
    </div>
    <div th:if="not ${success}" class="alert alert-danger">
        <p th:text="${message}"></p>
    </div>
</div>
<div class="mainContent">
    <div class="box">
        <table class="info-table">
            <tr>
                <th>Účet</th>
                <th>Zůstatek na účtu</th>
            </tr>
            <th:block th:each="account: ${listAccounts}">
                <tr>
                    <td th:text="${account.getName}" style="color: #142d4c; font-weight: bold;"></td>
                    <td th:text="${account.getBalance}" style="color: #142d4c;"></td>
                </tr>
            </th:block>
        </table>
    </div>
    <div class="box">
    <form class="form-container" method="post" th:action="@{/transaction}">
        <div class="fill-out-container">
            <label for="amount"></label>
            <input class="fill-input" type="text" id="amount" name="amount" required>
        </div>
        <div class="fill-out-container">
            <label for="account-type"></label>
            <select class="fill-input" id="account-type" name="account-type">
                <option value="CZK">Kč CZK</option>
                <option value="AUD">$ AUD</option>
                <option value="BRL">$ BRL</option>
                <option value="BGN">Lev BGN</option>
                <option value="CNY">¥ CNY</option>
                <option value="DKK">kr DKK</option>
                <option value="EUR">€ EUR</option>
                <option value="PHP">₱ PHP</option>
                <option value="HKD">$ HKD</option>
                <option value="INR">₹ INR</option>
                <option value="IDR">Rp IDR</option>
                <option value="ISK">kr ISK</option>
                <option value="ILS">₪ ILS</option>
                <option value="JPY">¥ JPY</option>
                <option value="ZAR">R ZAR</option>
                <option value="CAD">$ CAD</option>
                <option value="KRW">₩ KRW</option>
                <option value="HUF">Ft HUF</option>
                <option value="MYR">RM MYR</option>
                <option value="MXN">$ MXN</option>
                <option value="XDR">SDR XDR</option>
                <option value="NOK">kr NOK</option>
                <option value="NZD">$ NZD</option>
                <option value="PLN">zł PLN</option>
                <option value="RON">lei RON</option>
                <option value="SGD">$ SGD</option>
                <option value="SEK">kr SEK</option>
                <option value="CHF">fr CHF</option>
                <option value="THB">฿ THB</option>
                <option value="TRY">₺ TRY</option>
                <option value="USD">$ USD</option>
                <option value="GBP">£ GBP</option>
            </select>
        </div>
        <div class="fill-out-container">
            <button type="submit" name="action" value="deposit" class="submit-button" th:formaction="@{/transaction}">Vklad</button>
            <button type="submit" name="action" value="withdraw" class="submit-button" th:formaction="@{/transaction}">Výběr</button>
            <button type="submit" name="action" class="submit-button" th:formaction="@{/open}">Založit nový účet</button>
        </div>
    </form>
    </div>
    <div class="box">
        <table class="info-table">
            <tr>
                <th>Výpis posledních pohybů na účtu</th>
            </tr>
            <th:block th:each="log: ${listOfLogs}">
                <tr>
                    <td th:text="${log}" style="color: #142d4c;"></td>
                </tr>
            </th:block>
        </table>
    </div>
</div>
    <br>
    </div>
    <div class="right-exchange">
        <button type="button" data-toggle="modal" class="submit-button" data-target="#exampleModal">
            Aktuální kurzy
        </button>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Země</th>
                                    <th>Měna</th>
                                    <th>Počet</th>
                                    <th>Kód měny</th>
                                    <th>Aktuální kurz</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="exRate: ${listExchangeRates}">
                                    <td th:text="${exRate.getCountry}">Země</td>
                                    <td th:text="${exRate.getCurrency}">Měna</td>
                                    <td th:text="${exRate.getAmount}">Počet</td>
                                    <td th:text="${exRate.getCode}">Kód měny</td>
                                    <td th:text="${exRate.getExchangeRate}">Aktuální kurz</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="submit-button" data-dismiss="modal">Zavřít</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    const amountInput = document.getElementById("amount-payment");
    const regex = /^[0-9]+(\.[0-9]{1,3})?$/;
    amountInput.addEventListener("input", (event) => {
        const value = event.target.value.trim();
        if (regex.test(value)) {
            amountInput.setCustomValidity("");
        } else {
            amountInput.setCustomValidity("Vložte prosím platné číslo");
        }
    });

    const amountInput2 = document.getElementById("amount-deposit");
    const regex2 = /^[0-9]+(\.[0-9]{1,3})?$/;
    amountInput2.addEventListener("input", (event) => {
        const value = event.target.value.trim();
        if (regex2.test(value)) {
            amountInput2.setCustomValidity("");
        } else {
            amountInput2.setCustomValidity("Vložte prosím platné číslo");
        }
    });
</script>
</html>
